html {
	height: 100%;
	padding: 0px;
}

body {
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: Kaneiwa;
	src: url(kna__.ttf);
}

h1 {
	font-size: 60px;
}

#mainbox {
	font-family: Kaneiwa;
	height: 100%;
	width: 100%;
	text-align: center;
	background-image: url(castillo-antiguo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#castlebox {
	display: none;
	height: 95%;
	width: 60%;
}

#gamelist_box, #create_game_box {
	display: none;
	height: 100%;
	width: 100%;
	margin: 0px;
}

#user_info {
	width: 100%;
	height: 20px;
	background-color: black;
	color: white;
	text-align: right;
	font-size: 15px;
}

#gamelist_innerbox {
	width: 100%;
	height: 65%;
}

#userlist {
	height: 100%;
	width: 14%;
	display: inline-block;
	background-color: black;
	color: white;
	overflow: auto;
}

#gamelist {
	height: 100%;
	width: 70%;
	display: inline-block;
	background-color: white;
	overflow: auto;
}

#commands_box {
	display: inline-block;
	width: 14%;
	height: 100%;
	overflow: auto;
}

#outgame_commands_box, #ingame_commands_box, #owner_commands_box, #admin_commands_box {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#chatbox {
	height: 30%;
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

#tabs {
	height: 10%;
	width: 100%;
	background-color: black;
	margin-bottom: 0px;
}

#chat {
	height: 80%;
	width: 100%;
	background-color: black;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	overflow-y: scroll;
	overflow-x: visible;
}

#writer_box {
	margin-top: 0px;
	height: 10%;
	width: 100%;
	background-color: black;
	text-align: center;
}

#writer {
	color: white;
	border-style: none;
	height: 90%;
	width: 99%;
	background-color: black;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#create_game_innerbox {
	height: 95%;
	width: 95%;
	background-color: white;
	color: black;
	margin: auto;
	margin-top: 2%;
	padding: 4px;
}

#stats_box {
	display: none;
	width: 33%;
	height: 95%;
}

#stats {
	height: 50%;
	overflow-y: auto;
}

#tutorial_box {
	height: 49%;
	display: none;
}

#lasthit_box {
	height: 49%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#lh_enemy, #lh_chance {
	height: 10%;
	width: 100%;
}

#lh_myweapon, #lh_foeweapon {
	height: 78%;
	width: 47%;
	margin-left: 2px;
	margin-right: 2px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#lh_m_img, #lh_f_img {
	height: 80%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 100%;
}

#lh_m_lvl, #lh_f_lvl {
	height: 19%;
	width: 100%;
}

/*<div id="lasthit_box">
	<div id="lh_enemy"></div>
	<div id="lh_myweapon"><div id="lh_m_img"></div><div id="lh_m_lvl"></div></div><div id="lh_foeweapon"><div id="lh_f_img"></div><div id="lh_f_lvl"></div></div>
	<div id="lh_chance"></div>
</div>*/

#tutorial_text {
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	padding: 26px;
	height: 55%;
}

#tutninja {
	height: 39%;
}

#castle, #player {
	position: absolute;
	left: 15px;
	top: 15px;
}

#castle {
	z-index: 0;
}

#player {
	z-index: 1;
}

#tutorial_square {
	z-index: 2;
	display: none;
	position: absolute;
}

#preloader, #ingame_commands_box, #owner_commands_box {
	display: none;
}

#widthGetter {

	visibility: hidden;
	display: inline-block;

}

#menu {
	width: 30%;
	height: 80%;
	margin: auto;
}

#logout_link, #logout_link:visited {
	color: white;
}

#logout_link:hover, #logout_link:active {
	color: yellow;
}

.text_input {
	font-family: Kaneiwa;
}

.upperbox {
	width: 40%;
	position: fixed;
	top: 30%;
	left: 30%;
	background-image: url(grunge6.jpg);
	border-style: solid;
	border-color: white;
	display: none;
	color: white;
	text-align: center;
	padding: 10px;
}

.box_input {
	width: 100%;
	font-size: 22px;
	text-align: center;
}

.btn, .btn_no_hover {
	font-family: Kaneiwa;
  	color: #ffffff;
	font-size: 20px;
	background-image: url(grunge6.jpg);
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	opacity: 0.9;
	text-align: center;
}

.btn:hover {
	background-image: url(grunge7.jpg);
	cursor: pointer;
}

.cg_btn {
	display: inline-block;
	width: 44%;
	margin: auto;
}

.user {
	border-style: solid;
	border-color: white;
	border-width: 1px;
	background-color: black;
	margin-left: 2px;
	margin-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	overflow: hidden;
}

.game {
	background-color: white;
	font-size: 18px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 2px;
	padding-right: 2px;
	margin-bottom: 4px;
}

.cg_input {
	background-color: black;
	border: inset white 1px;
	color: white;
	font-size: 20px;
	font-family: Kaneiwa;
}

.trselec {
	background-color: black;
	color: white;
}

.trmain, .trmain:hover {
	background-color: black;
	color: white;
	margin: 0px;
	cursor: default;
}

tr:hover {
	background-color: #C8FFFC;
	cursor: pointer;
}

td {
	width: 1%;
	margin: 0px;
	border-style: none;
	text-align: center;
}